[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytorch = {git = "https://github.com/pytorch/pytorch"}
torchvision = {git = "https://github.com/pytorch/vision"}


[dev-packages]

